@page "/"

<PageTitle>Index</PageTitle>

<h1>Welkom op pagina</h1>

<p>tekst in p</p>

<NavLink class="btn btn-primary" href="movies">
	Movies
</NavLink>
<NavLink class="btn btn-primary" href="foto">
	Foto
</NavLink>
<NavLink class="btn btn-primary" href="funFacts">
	Funfacts
</NavLink>
<NavLink class="btn btn-primary" href="dobbel">
	Dobbelen
</NavLink>
